
.container {
  align-items: center;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  gap: 1vw;
  padding-bottom: 5vw;
  background-color: #fff;
}
.intro {
  width: 100%;
  color: 1px solid red;
  min-height: 200px;
  padding: 20px;
}

.arrow {
    width: 4rem;
    height: auto;
    position: absolute;
    align-self: center;
    right: 29px;
    bottom: 20px;
}

.box {
  width: 36vw;
  height: 20vw;
  max-height: 300px;
  position: relative;
  padding: 0px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(4,4,4,0.1);
}

.bgimg {
  background-position: center;
  background-repeat: 'no-repeat';
  background-size: 'cover';
  height: 50%;
  width: 100%;
  margin: 0px;
  padding: 0px;

}
.textLayer {
  background-color: rgb(41, 36, 66);
  width: 100%;
  height: 50%;
  margin: 0px;
  padding: 0px;
}
.title {
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 1vw;
  font-size: 1.5rem;
  padding-bottom: 0.5vw;
  line-height: 1;
}

.mainText {
  
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  font-size: 1.1rem;
  padding: 1vw;
  padding-top: 0;
  max-height: 5.4vw;

   max-width: 30vw;
  overflow: hidden;
}




/*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 700px) {
 .container {
  align-items: center;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  gap: 1vw;
  padding-bottom: 5vw;
  background-color: #fff;
}
.title {
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 1vw;
  font-size: 1.3rem;
  padding-bottom: 0.5vw;
  line-height: 1;
}
.box {
  width: 80vw;
  height: 40vw;
  position: relative;
  
  padding: 0px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(4,4,4,0.1);
}
.box {
  display: none;
  margin-bottom: 20px;
}
.box:nth-of-type(1) {
  display: block;
}
.box:nth-of-type(2) {
  display: block;
}
.box:nth-of-type(3) {
  display: block;
}
.mainText {
  
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  font-size: 1.1rem;
  padding: 1vw;
  padding-top: 2vw;
  max-height: 20vw;
  text-overflow: ellipsis;
   max-width: 60vw;
  overflow: hidden;
}
.arrow {
    width: 3rem;
    height: auto;
    position: absolute;
    align-self: center;
    right: 29px;
    bottom: 20px;
}
.bgimg {
display: none;

}
.textLayer {
  background-color: rgb(41, 36, 66);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 20px;
}
}
