.container {
    overflow: hidden;
}

.container > h1, .container > h2, .container>div > h3 {
    text-align: center;
}

.container blockquote {
  font-size: 20px;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 3rem;
}
.container blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
.container blockquote p {
    display: inline;
  }

.team {
    padding-top: 20px;
    text-align: center;
}
.container > h1 {
    font-size: 3rem;
}

.realdate {
  display: none;
   color: #fff;
 
   padding-top: 2rem;
  padding-bottom: 0;
 
}
.devdate {
  display: block;
  color:   var(--color-black);;
 
  padding-top: 2rem;
  padding-bottom: 0;
   
}

@media only screen and (max-width: 900px) {
    .container {
        margin: auto;
        
    }
    /* digging into the markdown file*/
    .container > div > p > img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container > div > p {
        font-size: var(--text-mobile);  
    }
    .team > * {
        text-align: center;
    }
   
}


@media only screen and (min-width: 900px) {
    .container {
        max-width: 1200px;
        margin: auto;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    /* digging into the markdown file*/
    .container > div > p > img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container > div > p {
        padding-top: 20px;
    }
}

