.container > h1, .container > dvh2 {
    text-align: center;
}

.container blockquote {
  font-size: 20px;
  font-style: italic;
  quotes: "\201C""\201D""\2018""\2019";
}
.container blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
.container blockquote p {
    display: inline;
  }

/* FOR SMALL (<600px) SCREENS */
@media only screen and (max-width: 900px) {
    .container {
        margin: auto;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    /* digging into the markdown file*/
    .container > div > p > img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container > div > p {
        margin: 10px;
        padding: 20px;
    }
    .team > * {
        text-align: center;
    }
}

/* FOR MEDIUM (>600px) SCREENS */ 

@media only screen and (min-width: 900px) {
    .container {
        max-width: 900px;
        margin: auto;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    /* digging into the markdown file*/
    .container > div > p > img {
        display: block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .container > div > p {
        padding-top: 20px;
    }
}

