/* COMMON */
.container {
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
}
.bgLayer {
    position: relative;
    padding: 0px;
    margin: 10px;
    height: 400px;
    width: 350px;
    cursor: pointer;
    overflow: hidden;
}

.bgimg {
    width: 100%;
    height: 50%;
    position: absolute;
    filter: grayscale(10%);
    overflow: hidden;
    transition: all 0.3s;
}

.textLayer {
    position: absolute;
    top: 50%;
    padding: 10px;
    padding-inline: 20px;
    width: 100%;
    height: 50%;
    overflow: hidden;
    background-color: rgb(41, 36, 66);
}
.title {
    max-width: 100%;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    font-size: 20px;
    word-wrap: break-word;
}

.main {
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}
.bgLayer:hover>.textLayer> h2{
    font-size: 26px;
    color: #f2c7cf;
}
.bgLayer:hover>.bgimg {
    filter: brightness(100%);
    transform: scale(102%);
    transition: all 0.3s;
}

.fade {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(41, 36, 66, 1));
    background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(41, 36, 66, 1)), from(rgba(0, 0, 0, 0)));
}

/* FOR SMALL (<600px) SCREENS */
@media only screen and (max-width: 900px) {

    @media only screen and (max-width: 500px) {
        .container {
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
        .bgLayer {
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
    }
}

/* FOR MEDIUM (>600px) SCREENS */ 

@media only screen and (min-width: 900px) {
    .container {
        padding-bottom: 20px;
    }
}

