/* COMMON */
.container {
    padding-top: 30px;
    max-width: 800px;
    margin: auto;
}
.container > div {
    padding-top: 20px;
}
.container > h1 {
    padding-top: 30px;
    text-align: center;
}

.subcategories {
    width: 100%;
    min-height: 200px;
    display: none;
}

.subcategory {
    text-align: center;
    float: left;
    width: 33%;
    min-width: 100px;
    height: 100%;
}

.skillBox {
background-color: var(--color-plum);
color: var(--color-white);
}

/* FOR SMALL (<900px) SCREENS */
@media only screen and (max-width: 900px) {
    
}

/* FOR SMALLER SCREENS */ 

@media only screen and (min-width: 900px) {
}

