/* COMMON */
.container {
    padding: 20px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    min-height: 500px;
}
.container>div>p {
    padding-top: 20px;
}


/* FOR SMALL (<800px) SCREENS */
@media only screen and (max-width: 800px) {
    .timeline>div {
        padding-top: 20px;
    }
    .markdownDiv{
        padding-top: 0px;
    }
    .markdownDiv>p {
        padding-top: 20px;
    }
    .imgLayer {
        height: 60vw;
        width: 100%;
    }
    .timeline>div>h1, .timeline>h1 {
        text-align: center;
        font-size: 40px;
    }
}

/* FOR MEDIUM (>800px) SCREENS */ 

@media only screen and (min-width: 800px) {
    .container{
        max-width: 1200px;
        margin: auto;
    }
    .timeline>div {
        padding-top: 20px;
    }
    .infoText {
        width: 100%;
        height: 550px;
    }
    .markdownDiv{
        height: 100%;
        width: 50%;
        float: left;
        padding-top: 50px;
    }
    .markdownDiv>p {
        padding-top: 20px;
    }
    .imgLayer {
        height: 100%;
        float: right;
        width: 50%;
    }
    .yearBlock {
        margin: 30px;
        padding: 20px;
        height: max-content;
    }
    .yearBlock>div>p {
        margin-top: 10px;
    }

    .yearBlock>h1 {
        padding-top: 0px;
        margin-top: 0px;
        padding-right: 20px;
        float: left;
        font-size: 50px;
    }
    
}

