.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerNews {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerNews div {
  max-height: 70vh;
}


.bgtriangle {
  background: var(--bg-triangle-lavender);
}


.heading {
    text-transform: uppercase;
    font-size: var(--heading-h1);
    color: var(--color-plum);
    text-align: center;
    width: 100%;
}



/*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 700px) {
  .heading {
    text-transform: uppercase;
    font-size: var(--heading-h1-mobile);
    color: var(--color-plum);
    text-align: center;
    width: 100%;
}

}

/*
    FOR MEDIUM SCREENS
*/

@media only screen and (min-width: 600px) {

}
