.container {
  width: 100%;
  background-color: white;
}
.heading {
  padding-top: 30px;
  text-align: center;
}

.box:hover {
  background-color: #f2c7cf;
  cursor: pointer;
  transition: all 0.1s;
}

/*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 600px) {
  .skills {
    max-width: 900px;
    display: table;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .box {
    width: 100%;
    min-height: 200px;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    overflow: hidden;
  }

  /* .box>h3 {
        background-color: aqua;
    } */
}

/*
    FOR MEDIUM SCREENS
*/

@media only screen and (min-width: 600px) {
  .skills {
    max-width: 900px;
    display: table;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .box {
    width: 300px;
    min-height: 300px;
    text-align: center;
    vertical-align: top;
    padding: 20px;
    overflow: hidden;
    display: table-cell;
  }
}
