.pageHeightBox {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
  border: none;
}

/*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 600px) {
  
}

/*
    FOR MEDIUM SCREENS
*/

@media only screen and (min-width: 600px) {

}
