.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 50vh;
  min-height: 300px;
 
}

.imgLayer {
  position: relative;
  height: 100%;
  width: 100%;
  transform: scale(100%);
  
  background-color: rgb(41, 36, 66);
  transition: all 0.3s;
}

.header:hover > .imgLayer {
  
}

.title {
  height: 100%;
  width: 100%;
  top: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.title > h1 {
  text-align: center;
  vertical-align: middle;
  font-size: var(--hero-heading-h1);
  color: var(--color-white);
  word-wrap: break-word;
  padding-inline: 20px;
}

/* FOR SMALL (<600px) SCREENS */
@media only screen and (max-width: 900px) {
  .title > h1 {
     font-size: var(--hero-heading-h1-mobile);
  }

  @media only screen and (max-width: 500px) {
    .title > h1 {
      font-size: var(--hero-heading-h1-mobile);
    }
    
  }
  
}