.header {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.vidLayer {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.vidLayer > video {
  position: absolute;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  text-align: center;
}

.header > .svgLayer {
  padding: 0px;
  height: 140%;
  width: 100%;
  background-size: contain;
  background-position: bottom;
  /* height: calc(100vh - 90px); */
  position: absolute;
  right: -30%;
  bottom: 0px;
}
@keyframes scaling {
  from {
    transform: scale(101%);
  }
  50% {
    transform: scale(103%);
  }
  to {
    transform: scale(101%);
  }
}

.header:hover > .imgLayer {
  filter: blur(1px) brightness(50%);
  transition: all 0.3s;
}
/* .header:hover>.title>h1 {
  font-size: 30px;
  transition: all 0.3s;
} */

.titlewrapper {
  display: flex;
  -webkit-box-align: center;
  justify-content: flex-end;
  -webkit-box-pack: end;
  padding: 36px 0;
  position: absolute;
  width: 85.27473%;
  margin: 0 auto;
  margin-left: 7.36264%;
  height: calc(100vh - 90px);
  align-items: center;
}

.title {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 50%;
  width: 50%;
  display: block;
  transform: translateY(-50%);
}

.title > h1 {
  /* text-align: center;
  vertical-align: middle; */
  /* display: table-row; */
  font-size: 30px;
}

.title > text {
  /* text-align: center;
  vertical-align: middle; */
  /* display: table-row; */
  font-size: 14px;
}
