.header{
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.vidLayer {
  position: relative;
  height: 100%;
  width: 100%;
  text-align:center;
}

.vidLayer>video {
  position: absolute;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  text-align:center;
}

.header>.imgLayer {
  padding: 0px;
  height: 1000px;
  width: 100%;
  filter: brightness(50%);
  animation: scaling 8s infinite;
  transition: all 0.3s;
}
@keyframes scaling {
  from {
    transform: scale(101%);
  }
  50% {
    transform: scale(103%);
  }
  to {
    transform: scale(101%);
  }
}

.header:hover>.imgLayer {
  filter: blur(1px) brightness(50%);
  transition: all 0.3s;
}
.header:hover>.title>h1 {
  font-size: 30px;
  transition: all 0.3s;
}


.title {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: table;
  transition: all 0.3s;
}

.title>h1 {
  text-align: center;
  vertical-align:middle;
  display: table-cell;
  transition: all 0.3s;
}