.header {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
}

.vidLayer {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.vidLayer > video {
  position: absolute;
  background-position: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  min-height: 50%;
  min-width: 50%;
  text-align: center;
}

.header > .svgLayer {
  padding: 0px;
  height: 645px!important;
  width: 100%;
  background-size: contain;
  background-position: bottom;
  position: absolute;
  right: -40%;
  bottom: 0px;
}
@keyframes scaling {
  from {
    transform: scale(101%);
  }
  50% {
    transform: scale(103%);
  }
  to {
    transform: scale(101%);
  }
}

.header iframe {
    z-index: 0;
      position: absolute;
      overflow: hidden;
    overflow-x: hidden!important;
}

.header:hover > .imgLayer {
  filter: blur(1px) brightness(50%);
  transition: all 0.3s;
}
/* .header:hover>.title>h1 {
  font-size: 30px;
  transition: all 0.3s;
} */

.titlewrapper {
  display: flex;
  -webkit-box-align: center;
  justify-content: flex-end;
  -webkit-box-pack: end;
  padding: 36px 0;
  position: absolute;
  width: 85.27473%;
  margin: 0 auto;
  margin-left: 7.36264%;
  height: calc(100vh);
  align-items: center;
}

.title {
  color: rgb(255, 255, 255);
  position: absolute;
  left: 0px;
  top: 50%;
  width: 50%;
  display: block;
  transform: translateY(-50%);
}

.title > h1 {
  /* text-align: center;
  vertical-align: middle; */
  /* display: table-row; */
  font-size: 30px;
  text-shadow: 2px 2px 5px  rgb(41, 36, 66);
}

.title > h3 {
  /* text-align: center;
  vertical-align: middle; */
  /* display: table-row; */
  text-shadow: 2px 2px 5px  rgb(41, 36, 66);
}

.title > h3:hover {
  color: #f2c7cf;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s;
}

.highlight {
  color: #b59ed4;
}

/* FOR SMALL (<750px) SCREEN AND WINDOW WIDTHS */
@media only screen and (max-width: 750px) {
  .title {
    width: 100%;
    max-width: 600px;
  }
}

/* FOR LARGE (<750px) SCREEN AND WINDOW WIDTHS */
@media only screen and (min-width: 750px) {
  .title {
    min-width: 600px;
  }
}
