.newstitle {
  text-align: center;
  padding: 15px;
  width: 100%;
  /* background-color: white; */
}

.newstitle > h2 {
  font-size: 30px;
}

.newscontainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: rgb(239, 235, 225);

  padding-bottom: 15px;
  display: table;
}

.blogcontainer {
  width: calc(100vw - 400px);
  display: table-cell;
  margin-top: 0px;
  top: 0px;
  position: relative;
}

.blogboxcontainer {
  align-items: center;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
  position: absolute;
}

.twittercontainer {
  display: table-cell;
  align-items: center;
  justify-content: center;
  min-width: 380px;
  position: relative;
  margin-top: 0px;
  height: 100%;
}

/* FOR SMALL (<900px) SCREENS */
@media only screen and (max-width: 1250px) {
  .blogcontainer {
    width: 100%;
  }

  .twittercontainer {
    visibility: hidden;
    width: 0vw;
    min-width: 0vw;
  }
}
