.media {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 900px;
  }
  .media_black {
    background: #efebe1;
    color: #000000;
  }
  .media-plum {
    background: #efebe1;
    color: #292442;
  }
  .media-powder {
    background: #292442;
    color: #efebe1;
  }
  .media-white {
    background: #292442;
    color: #ffffff;
  }
  
  .media img {
    height: 200px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .media h1 {
    font-size: 100px;
  }