.frame {
  width: 100%;
  padding-bottom: 50px;
}

.content {
  width: 100vw;
  margin: auto;
}

.media {
padding: 5vw;
  width: 90vw;
  margin: 5vw;
}
.black {
  background: #efebe1;
  color: #000000;
}
.plum {
  background: #efebe1;
  color: #292442;
}
.powder {
  background: #292442;
  color: #efebe1;
}
.white {
  background: #292442;
  color: #ffffff;
}

.media img {
  width: 80vw;
  height: auto;
  padding: 2vw;
  max-width: 400px;
  
}

.media h1 {
  font-size: 2rem;
}
