.mainNav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.logo {
  max-width: 75px;
  position: absolute;
  left: 30px;
  top: 35px;
}

.logo:hover {
  cursor: pointer;
  transition: all 0.2s;
  filter: invert(25%) sepia(100%) saturate(182%) hue-rotate(301deg) brightness(106%) contrast(90%);
}

.menubutton {
  max-width: 75px;
  position: absolute;
  right: 30px;
  top: 35px;
}

.drawer {
  background-color: rgb(41, 36, 66) !important;
}

.links {
  position: relative;
  visibility: hidden;
  overflow: hidden;
}

.links > nav > a {
  padding-inline: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.highlight {
  color: #b59ed4 !important
}

.links > nav > a:hover {
  color: #f2c7cf !important;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.2s;
}

/* FOR SMALL (<750px) SCREEN AND WINDOW WIDTHS */
@media only screen and (min-width: 900px) {
  .menubutton {
    visibility: hidden;
  }
  .links {
    visibility: visible;
  }
}
