.mainNav {
  width: 90vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30px;
   position: relative;
  z-index: 9999;
 
   position: fixed;
   transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);;
}

.home .mainNav {
  width: 90vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 30px;
   position: relative;
  z-index: 9999;
  background-color: #29244!important;
   position: fixed;
   transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);;
}

.logo {
  width: 20vw;
}

.logo > img {
  width: 20vw; 
  cursor: pointer;
transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);;
}

.logo:hover {
  cursor: pointer;
  transition: all 0.2s;
  filter: invert(25%) sepia(100%) saturate(182%) hue-rotate(301deg) brightness(106%) contrast(90%);
}

.menubutton {
  max-width: 75px;
  display: none;
 
}

.waves {
  width: 40px;
  height: auto;
}

.drawer {
  background-color: rgb(41, 36, 66) !important;
  z-index: 999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  text-align: center;
}
.bp3-heading {
  display: none;
}

.bp3-drawer-header {
  display: none!important;
}

.drawer a {
  font-size: 1.3rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}
.drawer h6 {
  font-size: 1.3rem;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  font-weight: normal;
}

.links {
  position: relative;
 
  overflow: hidden;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.scrolled {
  width: 100vw;
  position: fixed;
  z-index: 9999;
  margin: 0;
  top: 0;
  position: fixed;
  background-color: #292442;
  height: 60px;
}
.scrolled .logo > img {
  width: 120px;
  margin-left: 25px;
}
.scrolled .links {
    font-size: 1.1rem;
}


.links > nav > a {
  padding-inline: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;


}

.highlight {
  color: #b59ed4 !important
}

.links > nav > a:hover {
  color: #f2c7cf !important;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
}


 
@media only screen and (max-width: 700px) {
.bp3-heading {
  display: none;
}
.drawer img {
  display: none;
}
.mainNav {
  width: 90vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 00px;
   position: relative;
  z-index: 9999;
   
   position: fixed;
   transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);;
}
.links {
  display: none;
}
  .menubutton {
    display: block;
  }
.scrolled {
   margin-left: 0vw;
  margin-right: 0vw;
   width: 100vw;
   height: 60px;
  margin-top: 0px;
}

.logo > img {
  width: 40vw; 
  cursor: pointer;
transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);;
}
.bp3-drawer-header {
  display: none!important;
}


}