.mainNav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 36, 66);
    color: aliceblue;
}
  

.logo {
    max-width: 75px;
    position: absolute;
    left: 30px;
    top: 35px
}

.links {
    position: relative;
}

.links>nav>a {
    padding-inline: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.links>nav>a:hover {
    color: rgb(207, 207, 207);
}