/* COMMON */
.container {
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    height: fit-content;
    justify-content: center;
}

/* FOR SMALL (<600px) SCREENS */
@media only screen and (max-width: 600px) {
    
}

/* FOR MEDIUM (>600px) SCREENS */ 

@media only screen and (min-width: 600px) {

}

