/* COMMON */
.container {
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 10px;
    max-width: 1600px;
}
.bgLayer {
    position: relative;
    padding: 0px;
    margin: 10px;
    height: 500px;
    width: 400px;
    cursor: pointer;
    overflow: hidden;
}

.bgimg {
    width: 100%;
    height: 50%;
    position: absolute;
    filter: grayscale(10%) brightness(70%);
    overflow: hidden;
    transition: all 0.3s;
}

.textLayer {
    position: absolute;
    top: 50%;
    padding: 10px;
    width: var(--boxWidth);
    height: var(--boxHeight);
    overflow: hidden;
    background-color: rgb(23, 23, 80);
}
.title {
    max-width: 100%;
    position: absolute;
    color: rgb(255, 255, 255);
    transition: all 0.3s;
    font-size: var(--boxTitleFont);
    word-wrap: break-word;
}

.main {
    position: absolute;
    bottom: -50px;
    color: rgb(141, 138, 133);
    transition: all 0.3s;
}
.bgLayer:hover>.textLayer> h2{
    color: rgb(151, 85, 212);
}

/* FOR SMALL (<600px) SCREENS */
@media only screen and (max-width: 900px) {
    .container {
        padding: 10px;
    }
    .bgLayer {
        position: relative;
        padding: 0px;
        margin: 10px;
        height: 500px;
        width: 300px;
        cursor: pointer;
    }
    
    .bgimg {
        width: 300px;
        height: var(--boxHeight);
        position: absolute;
        filter: grayscale(10%) brightness(70%);
        overflow: hidden;
        transition: all 0.3s;
    }
    
    .textLayer {
        position: absolute;
        top: 0px;
        padding: 10px;
        width: 300px;
        height: var(--boxHeight);
        overflow: hidden;
    }
    .title {
        position: absolute;
        bottom: 150px;
        color: rgb(255, 255, 255);
        font-size: 30px;
    }
    
    .main {
        position: absolute;
        bottom: -50px;
        color: rgb(141, 138, 133);
    }
}

/* FOR MEDIUM (>600px) SCREENS */ 

@media only screen and (min-width: 900px) {
    .bgLayer:hover>.bgimg {
        -webkit-filter: sepia(100%) hue-rotate(220deg) brightness(50%);
        filter: sepia(100%) hue-rotate(220deg) brightness(30%);
        /*filter: grayscale(100%) blur(1px) brightness(60%);*/
        transform: scale(1.02, 1.02);
        transition: all 0.3s;
    }    
    

    /* FOR LARGE (>1200px) SCREENS */ 
    @media only screen and (min-width: 1200px) {

    }
}

