.container {
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 1500px;
    align-items: baseline;
    margin: auto;
}

.imgWrapper{
    overflow: hidden;
}

.skillset {
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.skillBox {
    margin-inline: 4px;
    padding: 2px;
    background-color: rgb(41, 36, 66);
    border-radius: 7px;
    color: white;
}

.description {
    text-align: center;
}

.description>* {
    margin: 6px;
}

@media only screen and (max-width: 800px) {
    .container {
        padding: 10px;
        padding-top: 30px;
    }
    .personBox {
        margin: 10px;
        width: 200px;
    }
    .skillset>a {
        padding-inline: 10px;
    }

    .contact {
        justify-content: center;
        height: fit-content;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .contact>a {
        padding-inline: 10px;
        color: black;
        font-size: small;
    }

    @media only screen and (max-width: 500px) {
        .container {
            padding: 0px;
            padding-top: 30px;
        }
        .personBox {
            margin: 10px;
            width: 170px;
        }
        .skillset>a {
            padding-inline: 10px;
        }
        
        .contact {
            justify-content: center;
            height: fit-content;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
        }
        .contact>a {
            color: black;
            font-size: small;
        }
    }
}

@media only screen and (min-width: 800px) {
    .container {
        padding: 20px;
    }
    .personBox {
        margin: 20px;
        width: 300px;
    }
    .skillset>a {
        padding-inline: 10px;
    }
    .contact {
        margin-inline: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact>a {
        color: black;
        font-size: small;
    }
}

.bgimg {
    height: 300px;
    filter: grayscale(100%);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-position: center;
}

.bgimg:hover {
    border-radius: 1%;
    transform: scale(107%);
    transition: all 0.2s ease-in-out;
}
