.container {
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-width: 1400px;
    align-items: baseline;
    margin: auto;
    padding-top: 5rem;
}

.imgWrapper{
    overflow: hidden;
    border-radius: 50%;
}

.skillset {
    align-items: center;
    justify-content: center;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.skillBox {
    margin-inline: 4px;
    padding: 2px;
    background-color: rgb(41, 36, 66);
    border-radius: 7px;
    color: white;
}

.description {
    text-align: center;
}

.description>* {
    margin: 6px;
}
.description p {
    display: none;
}
.description .contact {
    flex-direction: column;
    font-size: 1rem;
}

@media only screen and (max-width: 900px) {
    .container {
        padding: 10px;
        padding-top: 30px;
    }
    .personBox {
        margin: 10px;
        width: 170px;
    }
    .bgimg {
        height: 170px;
    }
    .bgimg {
        filter: grayscale(100%);
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        background-position: center;
    }
    .skillset>a {
        padding-inline: 10px;
    }
    .contact {
        justify-content: center;
        height: fit-content;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .contact>a {
        padding-inline: 10px;
        color: black;
        
    }

    @media only screen and (max-width: 500px) {
        .personBox {
            width: 50%;
            margin: 0px;
            position: relative;
        }
        .imgWrapper {
            width: 100%;
            height: 200px;
            border-radius: 0px;
        }
        .bgimg {
            width: 100%;
            height: 100%;
        }
    }

}





@media only screen and (min-width: 900px) {
    .container {
       padding-top: 5rem;
        max-width: 80rem;
        padding-bottom: 5rem;
    }
    .personBox {
        margin: 20px;
        width: 200px;
    }
    .bgimg {
        height: 200px;
    }
    .skillset>a {
        padding-inline: 10px;
    }
    .contact {
        margin-inline: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact>a {
        color: black;
      
    }
    .bgimg {
        filter: grayscale(100%);
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        background-position: center;
    }
    
    .imgWrapper:hover>.bgimg {
        filter: grayscale(0%);
        transform: scale(105%);
        transition: all 0.2s ease-in-out;
    }
    
    @media only screen and (min-width: 1500px) {
        .container {
        
            max-width: 1200px;
        }
        .personBox {
            margin: 20px;
            width: 250px;
        }
        .bgimg {
            height: 250px;
        }
    }
    
}