.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.containerNews {
  width: 100vw;
 
  margin: 0;
  padding-top: 4rem;
    padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerNews div {
  max-height: 70vh;
}


.bgtriangle {
  background: var(--bg-triangle-lavender);
}


.heading {
    text-transform: uppercase;
    font-size: var(--heading-h1);
    color: var(--color-plum);
    text-align: center;
    width: 100%;
}

h2.heading {
    text-transform: none;
    font-style: italic;
    font-size: var(--heading-h2);
    color: var(--color-plum);
    text-align: center;
    width: 100%;
    margin-bottom: 0.2rem;
    margin-top: 3rem;
    display: none;
}



/*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 700px) {
  .heading {
    text-transform: uppercase;
    font-size: var(--heading-h1-mobile);
    color: var(--color-plum);
    text-align: center;
    width: 100%;
}

}

/*
    FOR MEDIUM SCREENS
*/

@media only screen and (min-width: 600px) {

}
