.container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerNews {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerNews div {
  max-height: 70vh;
}


.bgtriangle {
  background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #b59ed4 50%, #b59ed4 100%);
}


.heading {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    color: #292442;
    width: 100%;
}



/*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 700px) {
  .heading {
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    color: #292442;
    width: 100%;
}

}

/*
    FOR MEDIUM SCREENS
*/

@media only screen and (min-width: 600px) {

}
