.text {
    padding-top: 5vw;
    padding-bottom: 5vw;
}
/* MOBILE BLOCKS */
@media only screen and (max-height: 500px) {
    .text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}