.text {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.text p, .text span {
  font-size:calc(16px + 0.1vw);
}
  

/* MOBILE BLOCKS */
@media only screen and (max-height: 500px) {
    .text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}