.container {
        height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    
    align-items: center;
   width: 100%;
    margin: 0 auto 0;
}

.content {
    max-width: var(--module-max-width);
    width: var(--module-width);
    display: flex;
    justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     
}

/* MOBILE BLOCKS */
@media only screen and (max-width: 700px) {
    .container {
        width: 90vw;
        min-width: 200px;
    }
    
}

