.container {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    width: 100%;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 0;
}
.text{
    min-width: 400px;
    width: 45%;
}

.text span {
    font-size: 1.3rem;
  }
  

@media only screen and (max-width: 900px) {
    .text span {
      font-size: 16px;
    }
    
  }
  
  @media only screen and (max-width: 1300px) {
    .text span {
      font-size: 14px;
    }
  }

.imageHiddenMobile {
    visibility: hidden;
}

.imageShownMobile {
 width: 45%;
 min-width: 400px;
 margin-left: 5vw; 
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
     }
     
    .text{
        width: 100%;
        min-width: 200px;
        padding-bottom: 5vh;
    }
    
    
    .imageShownMobile {
        width: 100%;
        max-width: 600px;
        min-width: 200px;
        margin: auto;
        }
    }


.imageShownMobile>img {
   width: 100%;
   height: auto;

}
.container h1 {
    font-size: 3rem;
    display: none;
}
.container h2 {
    font-size: 2rem;
     display: none;
}
.container p, .container span, .container a {
    font-size:calc(16px + 0.1vw);
}

/* MOBILE BLOCKS */
@media only screen and (max-height: 500px) {
    .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}