.container {
    background-color: white;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text {
    width: 40vw;
}

.imageHiddenMobile {
    visibility: hidden;
}

.imageShownMobile {
 width: 35vw;
 margin-left: 5vw; 
}

.imageShownMobile>img {
   width: 100%;
   height: auto;

}
.container h1 {
    font-size: 3rem;
    display: none;
}
.container h2 {
    font-size: 2rem;
     display: none;
}
.container p {
    font-size: 1.3rem;
    
}