.container {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: white;

}
.container > h1 {
    text-align: center;

    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    color: #292442;

}