/* MOBILE BLOCKS */
@media only screen and (max-width: 600px) {
  :root {
    --boxWidth: 200px;
    --boxHeight: 300px;
    --boxTitleFont: 20px;
    --boxPadding: 0px;
  
  }
}
/* DESKTOP BLOCKS */
@media only screen and (min-width: 600px) {
  :root {
    --boxWidth: 400px;
    --boxHeight: 500px;
    --boxTitleFont: 3rem;
    --boxPadding: 20px;
  }
}

html,
body {
  color: rgb(46, 34, 34);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minHeight {
  min-height: 100vh;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
