/****************************************************************/
/* VARIABLES  */

/* Global font sizes, colors etc */
html {
 --color-white: #FFFFFF;
 --color-black: #000000;
 --color-plum: #292442;
 --color-blue: #6b80bf;
 --color-powder: #efebe1;
 --color-rosa:  #f2c7cf;
 --color-sitrus:  #fff26e;
 --color-lavender:  #b59ed4;


 /* FONT SIZES */
--heading-h1:  3rem;
--heading-h1-mobile:  2rem;
--heading-h2:  2rem;
--heading-h2-mobile:  1.8rem;

--hero-heading-h1: 3rem;
--hero-heading-h1-mobile: 2rem;


  /* BACKGROUNDS */
  --bg-triangle-lavender: linear-gradient(to bottom right, #fff 0%, #fff 50%, #b59ed4 50%, #b59ed4 100%);
  --bg-triangle-powder: linear-gradient(to bottom right, #fff 0%, #fff 50%, #efebe1 50%, #efebe1 100%);

}

/* FONTS */
@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Book.woff2') format('woff2'),
      url('./fonts/FuturaStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-BoldOblique.woff2') format('woff2'),
    url('./fonts/FuturaStd-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Std';
  src: url('./fonts/FuturaStd-Bold.woff2') format('woff2'),
    url('./fonts/FuturaStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html,
body {
  color: rgb(46, 34, 34);
  padding: 0;
  margin: 0;
  font-family: Futura Std, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  background-color: rgb(255, 255, 255);
}

.home #__next {
  overflow-x: hidden!important;
}


html {
  
  font-size: 1vw;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Futura Std;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
  font-style: italic;
}

h4 {
  font-size: 14px;
  font-style: italic;
}

p {
  font-size: 1.3rem;
}

.minHeight {
  height: auto;
}

@media only screen and (max-width: 900px) {

  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 25px;
  }
  
  h3 {
    font-size: 23px;
  }
  
  h4 {
    font-size: 20px;
  }
  
  p, a {
    font-size: 16px;
  }
  
}

@media only screen and (max-width: 1300px) {

  html {
    font-size: 15px;
    }

  p, a {
    font-size: 14px;
  }
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* MOBILE BLOCKS */
@media only screen and (max-width: 700px) {
  .generalContainer {
    max-width: 700px;
    padding-top: 20px;
    padding-inline: 20px;
  }
  html {
  font-size: 16px;
  }
}
/* DESKTOP BLOCKS */
@media only screen and (min-width: 700px) {
  .generalContainer {
    max-width: 700px;
    margin: auto;
    padding-top: 30px;
  }
}

.powder {
  background-color: rgb(239, 235, 225);
}

.min-height-page {
  min-height: 50vh;
}

/****************************************************************/
/* PAGE SPECIFIC  */

/* HOMEPAGE (scroll snap applied through homeLayout) */

.home #__next {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden!important;
}

.home #__next > .homePage > div {
  scroll-snap-align: start;
}

/* FLOU  */

.flouPage {
     
}

/* SKILLS  */

.skillsPage {

}

.skillSubPage {

}

/* BLOGS */

.blogsPage {

}

.singleBlogPage {

}

/* TEAM  */

.flouPage {
}

/* CONTACT  */
.contactPage {

}

/* JOB PAGE */

.jobPage {

}

.mediaPage {
  
}

/* skillbox styles */
.skillBox {
  background-color: var(--color-plum);
  color: var(--color-white);
  padding: 3rem;
  margin-top: 3rem;
}

.skillbox p {
  font-size: 1.2rem;
}

.skillBox .skillButtons {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
}

.skillBox .skillButton {
  border: 1px solid white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
      align-items: center;
}
.skillBox .skillButton img {
   width: 2rem;

   }


.buttonlink {
      color: #292442 ;
   }
.buttonlink:hover {
      text-decoration: none;
      color: #fff ;
   }

.button {
    display: flex;
    padding: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border: 1px solid #292442;
    font-size: 1.3rem;
    font-weight: normal;
   transition: all 0.4s;
   }

    .button:hover {

    background: #292442;
    border: 1px solid #292442;
   
   }

   /*
    FOR SMALL SCREENS
*/
@media only screen and (max-width: 900px) {


  /* skillbox styles */
.skillBox {
 
  padding: 2rem;
  margin-top: 2rem;
}

.skillbox p {
  font-size: 1.2rem;
}

.skillBox .skillButtons {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  gap: 2rem;
  flex-direction: column;
}

.skillBox .skillButton {
  border: 1px solid white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
      align-items: center;
}
.skillBox .skillButton img {
   width: 2rem;

   }




   .buttonlink {
      color: #292442 ;
   }
      .buttonlink:hover {
      text-decoration: none;
      color: #fff ;
   }

   .button {
    display: flex;
    padding: 0.8rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    border: 1px solid #292442;
    font-size: 1rem;
    font-weight: normal;
   transition: all 0.4s;
   }

    .button:hover {

    background: #292442;
    border: 1px solid #292442;
   
   }
}



